.inner {
    margin: 0 auto;
}

/* Fonts */

@font-face {
    font-family: "Liberation Sans";
    src: url("LiberationSans-Regular.ttf");
}
@font-face {
    font-family: "Liberation Sans";
    src: url("LiberationSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Liberation Sans";
    src: url("LiberationSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Liberation Sans";
    src: url("LiberationSans-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

/* Tags */

html,
body {
    display: block;
    margin: 0;
    background-color: #0c9ce4;
    padding: 0;
    color: #575e75;
    font-family: "Liberation Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}


/* Typography */

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    border: 0;
    padding: 0;
    color: #6b6b6b;
    font-weight: bold;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

b,
strong {
    font-weight: 500;
}


/* Links */

a {
    cursor: pointer;
    color: #4d97ff;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #4d97ff;
}

a:hover {
    text-decoration: none;
    color: #4280d7;
}


/* Classes */

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.7em;
    color: #575e75;
}

p {
    color: #575e75;
}

.box-content {
    font-size: 13px;
}

::-moz-selection {
    background-color: rgba(77, 151, 255, 0.25);
}

::selection {
    background-color: rgba(77, 151, 255, 0.25);
}

ol,
ul {
    padding-left: 20px;
    font-weight: 300;
}

.mw-content-ltr ol,
.mw-content-ltr ul {
    margin-left: 3.2em;
}

dl {
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: normal;
}

dl dt {
    font-weight: bold;
}

#view {
    display: inline-block;
    margin-top: 50px;
    background-color: #fcfcfc;
    min-width: 100%;
    min-height: calc(100vh - 328px);
}

#view .left {
    float: left;
    width: 160px;
    display: block;
}

#view .right {
    margin-left: 180px;
    width: 800px;
}

.wikilogo {
    background-repeat: no-repeat;
    height: 140px;
    display: block;
    background-position: center center;
}

.button {
    display: inline-block;
    margin: .5em 0;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    background-color: #7953c4;
    cursor: pointer;
    padding: .75em 1em;
    color: #fff;
    font-size: .8rem;
    font-weight: bold;
}

.button:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.button:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.button:focus {
    outline: none;
}

.button.pass {
    background-color: #26d9bb;
}

.button.fail {
    background-color: #f49d25;
}

.button:disabled {
    box-shadow: none;
}

.dropdown {
    display: none;
    position: absolute;
    left: 0;
    margin-left: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
    background-color: #7953c4;
    padding: 10px;
    overflow: visible;
    color: #fff;
    font-size: .8125rem;
    font-weight: normal;
    width: max-content;
}
.right .dropdown {
    left: inherit;
    right: 0;
}

.dropdown.open {
    display: block;
    white-space:nowrap;
}

.dropdown a:link,
.dropdown a:visited,
.dropdown a:active {
    background-color: transparent;
    color: #fff;
}

.dropdown>li {
    display: block;
    line-height: 30px;
}

.dropdown>li a {
    display: block;
    padding: 0 15px;
}

.dropdown>li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.input {
    transition: all .5s ease;
    margin-bottom: .75rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fafafa;
    padding: 0 1rem;
    height: 3rem;
    color: #6b6b6b;
    font-size: .875rem;
}

.input:focus {
    transition: all .5s ease;
    outline: none;
    border: 1px solid #25aff4;
}

.input::-ms-reveal,
.input::-ms-clear {
    display: none;
}

.row.no-label label {
    display: none;
}

#navigation {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    background-color: #7953c4;
    width: 100%;
    height: 50px;
}

#navigation .inner>ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    height: 50px;
    list-style: none;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5em;
}

#navigation .inner>ul>li {
    display: inline-block;
    position: relative;
    float: left;
    margin: 0;
    height: 100%;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

#navigation .inner>ul>li.right {
    float: right;
    margin-left: auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

#navigation .inner>ul>li.right a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#navigation .link>a {
    display: block;
    padding: 13px 15px 4px 15px;
    height: 33px;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: .85rem;
    font-weight: bold;
}

#navigation .link>a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#navigation .logo {
    margin-right: 10px;
}

#navigation .logo a,
#navigation .content-actions .dropdown-toggle {
    display: block;
    transition: .15s ease all;
    border: 0;
}

#navigation .logo a {
    background-size: 95%;
}

#navigation .logo a {
    background-image: url("https://scratch.mit.edu/images/logo_sm.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 6px 0 0;
    width: 81px;
    height: 50px;
}

#navigation .logo a:hover,
#navigation .content-actions .dropdown-toggle:hover {
    transition: .15s ease all;
}

#navigation .logo a:hover {
    background-size: 100%;
}

#navigation .content-actions .dropdown-toggle:hover {
    background-size: 27.5px 27.5px;
}

#navigation .inner>ul>li.search {
    margin: 0 20px;
    border-right: 0;
    color: #fff;
    -webkit-flex-grow: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
}

#navigation .inner>ul>li.search .form {
    margin: 0;
}

#navigation .inner>ul>li.search .row .help-block {
    display: none;
}

#navigation .inner>ul>li.search .input,
#navigation .inner>ul>li.search .button {
    display: inline-block;
    margin-top: 5px;
    outline: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    height: 14px;
}

#navigation .inner>ul>li.search .input[type=text],
#navigation .inner>ul>li.search .button[type=text] {
    transition: .15s ease background-color;
    padding: 0;
    padding-right: 10px;
    padding-left: 40px;
    width: calc(100% - 50px);
    height: 40px;
    color: #fff;
    font-size: .85em;
}

#navigation .inner>ul>li.search .input[type=text]::-webkit-input-placeholder,
#navigation .inner>ul>li.search .button[type=text]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

#navigation .inner>ul>li.search .input[type=text]:-ms-input-placeholder,
#navigation .inner>ul>li.search .button[type=text]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

#navigation .inner>ul>li.search .input[type=text]::placeholder,
#navigation .inner>ul>li.search .button[type=text]::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

#navigation .inner>ul>li.search .input[type=text]:focus,
#navigation .inner>ul>li.search .button[type=text]:focus {
    transition: .15s ease background-color;
    background-color: rgba(0, 0, 0, 0.2);
}

#navigation .inner>ul>li.search .btn-search {
    position: absolute;
    box-shadow: none;
    background-color: transparent;
    background-image: url("https://scratch.mit.edu/images/nav-search-glass.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px;
    width: 40px;
    height: 40px;
}

#navigation .inner>ul>li.search .btn-search:hover {
    box-shadow: none;
}

#navigation .login-dropdown {
    width: 200px;
}

#navigation .login-dropdown .button {
    padding: .75em;
}

#navigation .dropdown .row {
    margin-bottom: 1.25rem;
}

#navigation .dropdown .row input {
    margin: 0;
    height: 2.25rem;
}

#navigation .account-nav .dropdown-toggle,
#navigation .content-actions .dropdown-toggle {
    padding-top: 14px;
}

#navigation .account-nav .dropdown li,
#navigation .content-actions .dropdown li {
    margin: 0;
    white-space: nowrap;
}

#navigation .account-nav>a,
#navigation .content-actions>a {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8125rem;
    font-weight: normal;
}

#navigation .account-nav>a.open,
#navigation .content-actions>a.open {
    background-color: rgba(0, 0, 0, 0.1);
}

#navigation .account-nav>a:after,
#navigation .create>a:after,
#navigation .explore>a:after,
#navigation .discuss>a:after,
#navigation .tips>a:after,
#navigation .about>a:after,
#navigation .content-actions>a:after {
    display: inline-block;
    margin-left: 8px;
    /* @embed */
    background-image: url("dropdown.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    content: " ";
}

#navigation .account-nav .dropdown,
#navigation .content-actions .dropdown,
#navigation .create .dropdown,
#navigation .explore .dropdown,
#navigation .discuss .dropdown,
#navigation .tips .dropdown,
#navigation .about .dropdown {
    top: 50px;
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    min-width: 100%;
}

#footer {
    display: block;
    background-color: #f2f2f2;
    padding: 10px 0;
    color: #6b6b6b;
    font-size: .85rem;
}

#footer .lists {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#footer .lists dl {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: .8rem;
    margin: 0 10px;
}

#footer .lists dt {
    display: block;
    margin-bottom: 8px;
}

#footer .lists dd {
    display: block;
    margin: 5px 0;
    line-height: 1.2rem;
}

#footer .lists dd a {
    font-weight: 400;
}

#footer .copyright {
    display: block;
    width: 100%;
    text-align: center;
}

#footer .copyright p {
    font-size: .7rem;
}

.box {
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    width: 100%;
}

.box .box-header h4,
.box .box-header h5 {
    line-height: 1.1rem;
    font-size: 1.1rem;
}

.box .box-header {
    display: block;
    clear: both;
    margin: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 10px 10px 0 0;
    background-color: #f2f2f2;
    padding: 8px 20px;
    overflow: hidden;
}

.box .box-header h4,
.box .box-header h5 {
    display: inline-block;
    float: left;
}

.box .box-header h5 {
    margin: 0;
    padding-left: 5px;
    text-transform: none;
    letter-spacing: normal;
    font-weight: normal;
}

.box .box-header p {
    display: inline-block;
    float: right;
    margin: 1px 0 0 0;
    padding: 0;
    font-size: .85rem;
}

.right .box .box-content {
    display: block;
    clear: both;
    background-color: #fff;
    padding: 8px 20px;
}

.left .box-content {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left .box-content>* {
    margin-left: 20px;
}

.left .box-content ul {
    list-style: none;
    list-style-position: outside;
    margin: 0;
}

.left .box-content ul li {
    margin: 0;
}

.box .empty {
    margin-top: 20px;
}

#navigation ul>li.content-actions>a.dropdown-toggle {
    height: 25px;
    width: auto;
    padding: 12.5px;
}

#lastmod {
    text-align: center;
    font-size: 11px;
    color: #6b6b6b;
}

#feet {
    list-style: none;
    display: block;
    text-align: center;
    font-size: 11px;
    color: #6b6b6b;
    margin-bottom: 20px;
}

#feet li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}

.inner.mod-splash {
    margin-top: 20px;
}

.splash .box {
    margin-bottom: 20px;
}

.mw-indicators {
    display: inline-block;
    font-size: 1rem;
    float: right;
}
.mw-indicator {
    display: inline-block;
    font-size: 1rem;
}


/* MASTER ARTICLE STYLE */

#content {
    display: block;
    font-family: "Liberation Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: black;
    overflow-x: auto;
}

#content p {
    color: inherit;
}

#content b,
#content strong {
    font-weight: bold;
}

#content a.new {
    color: #ba0000;
}

#content a.new:visited {
    color: #a55858;
}

#content a.new:hover {
    text-decoration: underline;
}

#content .previewnote p {
    color: red;
}

#content code,
#content pre {
    border-color: #cecece;
    border-radius: 3px;
    font-family: monospace;
}

#content pre {
    white-space: pre;
    overflow-x: auto;
}
#content pre[class^=CodeMirror], #content pre[class*=CodeMirror] {
    white-space: pre-wrap;
}

#content code[class^=blocks],
#content pre[class^=blocks] {
    border: none;
    background: none;
}

#content .mw-editsection {
    float: right;
    line-height: inherit;
}

#content h1,
#content h2 {
    border-bottom: 1px solid #111;
}

#content a.external {
    /* @embed */
    background-image: url("External_link.png");
    background-size: 10px 10px;
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}

#content .plainlinks a {
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    padding-right: inherit;
}

#content hr {
    height: 1px;
    color: #111;
    background-color: #111;
    border: 0;
    margin: 0.2em 0;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5 {
    margin-bottom: 1em;
    color: inherit;
}

#content dl {
    line-height: inherit;
    font-size: inherit;
}

#content a:visited {
    text-decoration: none;
    color: #0a85c2;
}


/* MASTER ARTICLE STYLE END */

#catlinks {
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}

/* Preferences styling */

#preftoc ul {
    list-style: none;
}

#preftoc li {
    display: inline-block;
    padding: 1px 5px;
    border-right: 1px solid #6b6b6b;
    border-top: 1px solid #6b6b6b;
    border-bottom: 1px solid #6b6b6b;
}

#preftoc li.selected {
    background-color: #f49d25;
}

#preftoc li.selected a {
    color: #fff;
}

#preftoc li:nth-child(1) {
    border-left: 1px solid #6b6b6b;
    border-radius: 5px 0 0 5px;
}

#preftoc li:last-child {
    border-radius: 0 5px 5px 0;
}

#preftoc *:focus {
    outline: none;
}

#firstHeading {
    overflow-wrap: break-word;
}

#mw-input-wpscratchwikiskin-header-color {
    font-family: monospace;
}

/* Mobile design */

.touch-tutorial {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 13;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 100vh;
    text-shadow: white 0 0 1px;
    font-size: 5vh;
}
.touch-tutorial span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

@media only screen and (max-width: 519.4px) {
    .inner {
        width: calc(100vw - 20px);
    }
    #navigation .inner .discuss,
    #navigation .inner .explore,
    #navigation .inner .tips,
    #navigation .inner .about,
    #navigation .inner .create {
        display: none;
    }
    #footer .lists {
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    #navigation .content-actions>a:after {
        display: none;
    }
    #navigation .account-nav > a.dropdown-toggle {
        display: block;
        width: 50px;
        height: 50px;
        padding: 0;
        /* @embed */
        background-image: url("User.svg");
        background-size: 25px 25px;
        background-position: center center;
        background-repeat: no-repeat;
        filter: invert(100%);
    }
    #navigation .account-nav .profile-name {
        display: none;
    }
    #navigation .account-nav > a:after {
        display: none;
    }
    #navigation .content-actions>a.dropdown-toggle {
        width: 25px;
    }
    #navigation .inner > ul > li.search {
        margin: 0;
    }
    #view {
        padding: 0 10px;
        min-width: calc(100% - 20px);
    }
}
@media only screen and (min-width: 519.5px) and (max-width: 679.4px) {
    .inner {
        width: 520px;
    }
    #navigation .inner .discuss,
    #navigation .inner .explore,
    #navigation .inner .about,
    #navigation .inner .tips {
        display: none;
    }
}
@media only screen and (min-width: 679.5px) and (max-width: 981.4px) {
    .inner {
        width: 680px;
    }
    #navigation .inner .explore,
    #navigation .inner .about,
    #navigation .inner .discuss {
        display: none;
    }
}
@media only screen and (min-width: 981.5px) {
    .inner {
        width: 982px;
    }
    #navigation .sidebar-toggle {
        display: none;
    }
}

@media only screen and (max-width: 981.4px) {
    #view .left {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.9);
        left: -185px;
        top: 0px;
        padding: 0 10px;
        height: calc(100% - 50px);
        z-index: 11;
        transition: left 0.5s;
        overflow-y: auto;
        margin-top: 50px;
    }
    #view .right {
        margin: auto 0;
        width: 100%;
    }
    #navigation .sidebar-toggle a {
        width: 50px;
        height: 50px;
        display: block;
        /* @embed */
        background-image: url("Hamburger_icon.svg");
        background-size: 25px 25px;
        background-position: center center;
        background-repeat: no-repeat;
        filter: invert(100%);
    }
}
