#view .left {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    left: -185px;
    top: 0px;
    padding: 0 10px;
    height: calc(100% - 50px);
    z-index: 7;
    transition: left 0.5s;
    overflow-y: auto;
    margin-top: 50px;
}
#view .right {
    margin: auto 0;
    width: 100%;
}
#navigation .sidebar-toggle a {
    width: 50px;
    height: 50px;
    display: block;
    /* @embed */
    background-image: url("../Hamburger_icon.svg");
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;
    filter: invert(100%);
}
